// 圆角设置
$border-radius-inner = 16px 16px 16px 16px;
$border-radius = 16px;

// 中文字体
$font-family-monospace = consolas, Menlo, monospace, $font-family-base;
$font-family-monospace = get_font_family('codes'), consolas, Menlo, monospace, $font-family-base if get_font_family('codes');

// 设置最大宽度
$content-desktop-large = 95%;
$content-desktop-largest = 90%;


$headband-height = 60px;
//$headband-bg = rgba(34, 34, 34, 0.5);
$headband-bg = #0C0000
